#section3{
    text-align: justify;
    margin-top: 200px;
    text-align: start;
    margin-left: 450px;
    background-color: white;
    height: 250px;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    list-style-position: calc(margin-left);
    border-style: ridge;
     display: inline-block;

     overflow: visible;
    white-space: nowrap;
    position: relative;
}
.image{
    position: absolute;
    right: 0;
    

}



