#section3{
    text-align: justify;
    margin-top: 200px;
    text-align: start;
    margin-left: 450px;
    background-color: white;
    height: 250px;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    list-style-position: calc(margin-left);
    border-style: ridge;
     display: inline-block;

     overflow: visible;
    white-space: nowrap;
    
    }
    .ellipse1{
       height : 19px ;
        width: 19px;
        top: 518px;
        left: 1155px;
        background-color: #e9a6a6;
        margin-left: 300px;
        
    }  

.ellipse2{
    height: 19px;
    width: 19px;
    top: 518px;
    left: 1155px;
        background-color: #e9a6a6;
        margin-left: 300px;
        
}
.ellipse3{
    height: 19px;
    width: 19px;
    top: 518px;
    left: 1155px;
    background-color: #e9a6a6;
    margin-left: 300px;

}
.ellipse4{
    height: 19px;
    width: 19px;
    top: 518px;
    left: 1155px;
    background-color: #e9a6a6;
    margin-left: 300px;
    
}
.ellipse5{
    height: 19px;
    width: 19px;
    top: 518px;
    left: 1155px;
    background-color: #e9a6a6;
    margin-left: 300px;
    margin-top: 40px;
}


}
